<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Expressionary</h1>
			<hr>
			<div class="tab">
				<button class="tablinks" style="width:auto;" onclick="openBoard(event, 'user')">Top Users</button>
				<button class="tablinks" style="width:auto;" onclick="openBoard(event, 'word')">Top Words</button>
				<button class="tablinks" style="width:auto;" onclick="openBoard(event, 'img')">Top Images</button>
			</div>
					<form role="form" id="user" class="tabcontent" action="user" method="post">
						<!--input hidden id="users" name="users" value = "</%= users %/>"-->
                        <%var i = 1; %>
                        <%topUsers.sort(function(a, b){%>
                        <%return b.points - a.points;%>
                        <%});%>

                        <%while (i <= 10) { %>
						<%if(topUsers[i-1] == undefined) break;%>
                        <%= i%>: <input id="user" name="user" type="submit" value="<%=topUsers[i-1].username%>" class="btn btn-info"><img width="35" height="35" allign="left" src="http://localhost:8080/images/profImage/<%=topUsers[i-1].profile_img%>" class="img-responsive">
						Total Points: <%=topUsers[i-1].points%><br>
                        <% i++ }%>
					</form>
					<form role="form" id="word" class="tabcontent" action="w1" method="post">
						<!--input hidden id="words" name="words" value = "</%= words %/>"-->
                        <%var i = 1; %>
                        <%topWords.sort(function(a, b){%>
                        <%return b.totalPoints - a.totalPoints;%>
                        <%});%>
						<%var limit = 10;%>
                        <%while (i <= limit) { %>
                        <%if(topWords[i-1] == undefined) break;%>
						<%if(topWords[i-1].content_type == 'word'){%>
                        <%= i%>:<input id="word" name="word" type="submit" value="<%=topWords[i-1].word%>" class="btn btn-info">
						<br>
						Total Points: <%=topWords[i-1].totalPoints%><br>
						<%}else{%>
						<%limit++;}%>
                        <% i++ }%>
					</form>
					<form role="form" id="img" class="tabcontent" action="w1" method="post">
                        <%var i = 1; %>
                        <%topWords.sort(function(a, b){%>
                        <%return b.totalPoints - a.totalPoints;%>
                        <%});%>
                        <%var limit = 10;%>
                        <%while (i <= limit) { %>
                        <%if(topWords[i-1] == undefined) break;%>
                        <%if(topWords[i-1].content_type == 'image'){%>
                        <%= i%>:<input id="word" name="word" type="submit" value="<%=topWords[i-1].word%>" class="btn btn-info">
						<img width="50" height="50" allign="left" src="http://localhost:8080/images/postimage/<%=topWords[i-1].word%>" class="img-responsive">
						<br>
						Total Points: <%=topWords[i-1].totalPoints%><br>
                        <%}else{%>
                        <%limit++;}%>
                        <% i++ }%>
					</form>
			<script>
				function openBoard(evt, boardContent){
				  var i, tabcontent, tablinks;
				  tabcontent = document.getElementsByClassName("tabcontent");
				  for(i = 0; i < tabcontent.length; i++){
				      tabcontent[i].style.display = "none";
				  }
				  tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(boardContent).style.display = "block";
                    evt.currentTarget.className += " active";
				}
			</script>
			<hr>
			<h2 class="mt-2">Join our Newsletter</h2>
			<form class="form-horizontal" role="form" style="width: 100%;" action="http://localhost:8080/" method="post">
				<div class="form-group">
					<label for="email" class="col-sm-1 control-label">Email:</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
					</div>
				</div>
				<p>
					<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
				</p>
			</form>
		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>