<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<div class="tab">
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sug')">Suggest a Word</button>
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sugi')">Suggest an Image</button>
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sugged')">Vote on Suggestions</button>
</div>
<form id="sug" role="form" class="tabcontent" action="http://localhost:8080/wsuggest" method="post">
    <textarea class="form-control" rows="1" id="suggested" name="suggested"
              placeholder="Suggest a word here..."></textarea>
    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
</form>
<form id="sugi" role="form" class="tabcontent" action="http://localhost:8080/isuggest" method="post" enctype="multipart/form-data">
    Select an image to suggest(PNG. JPG, JPEG only): <input type="file" id="sugImage" accept=".png, .jpg, .jpeg" name="sug_img" required>
    <input type="submit" value="Upload">
</form>
<div id="sugged" class="tabcontent">
    <div class="tab2">
        <button class="tablinks2" style="width:auto;" onclick="openTab2(event, 'sugtext')">Suggested Words</button>
        <button class="tablinks2" style="width:auto;" onclick="openTab2(event, 'sugimg')">Suggested Images</button>
    </div>
    <form id="sugtext" role="form" class="tabcontent2" action="http://localhost:8080/voteTSuggest" method="post">
        <% var index = 0; %>
        <% sugt.sort(function(a, b){ %>
        <% return b.points - a.points; %>
        <% }); %>
        <% while (index < sugt.length) { %>
        <% if(sugt[index] == undefined) break; %>
        <%= sugt[index].definition %>
        <br>
        Points: <%= sugt[index].points %><br>
        <input hidden id="thePost" name="text" value="<%= sugt[index].definition %>">
        <input hidden id="points" name="points" value="<%= sugt[index].points %>">
        <input id="vote" name="vote" title="<%= index%>" type="submit" value="<%= index%>+" class="btn btn-primary" >
        <input id="vote" name="vote" title="<%= index%>" type="submit" value="<%= index%>-" class="btn btn-primary" >
        <br>
        <%index++; }%>
    </form>
    <form id="sugimg" role="form" class="tabcontent2" action="http://localhost:8080/voteISuggest" method="post">
        <% var index = 0; %>
        <% sugi.sort(function(a, b){ %>
        <% return b.points - a.points; %>
        <% }); %>
        <% while (index < sugi.length) { %>
        <% if(sugi[index] == undefined) break; %>
        <%= sugi[index].definition %>
        <img width="50" height="50" allign="left"
             src="http://localhost:8080/images/sugimage/<%= sugi[index].definition %>" class="img-responsive">
        <br>
        Points: <%= sugi[index].points %><br>
        <input hidden id="thePost" name="imageName" value="<%= sugi[index].definition %>">
        <input hidden id="points" name="points" value="<%= sugi[index].points %>">
        <input id="vote" name="vote" title="<%= index%>" type="submit" value="<%= index%>+" class="btn btn-primary" >
        <input id="vote" name="vote" title="<%= index%>" type="submit" value="<%= index%>-" class="btn btn-primary" >
        <br>
        <%index++; }%>
    </form>
    <script>
        function openTab2(evt, tabContent2) {
            var i, tabcontent2, tablinks2;
            tabcontent2 = document.getElementsByClassName("tabcontent2");
            for (i = 0; i < tabcontent2.length; i++) {
                tabcontent2[i].style.display = "none";
            }
            tablinks2 = document.getElementsByClassName("tablinks2");
            for (i = 0; i < tablinks2.length; i++) {
                tablinks2[i].className = tablinks2[i].className.replace(" active", "");
            }
            document.getElementById(tabContent2).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</div>
<script>
    function openTab(evt, tabContent) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabContent).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>