<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<h2 id="theUser" name="theUser"><%=username2%></h2>
<hr>
<h3>Point total: <%=points%></h3>
<h3>Definitions:</h3>
<p>
<% var i = 0; %>
    <%console.log(posts.length);%>
    <%if(posts[i] == undefined){%>
    <%posts.sort(function(a, b){%>
    <%return b.points - a.points;%>
    <%});}%>
<%while (i < posts.length) { %>
    <%if(posts[i].definition == undefined){%>
    None. Try clicking on Random Word to get started!
    <%break;}%>
    <b><%=posts[i].word%></b><br>
    Definition: <%= posts[i].definition %><br>
    Points: <%= posts[i].points %><br><br>

<% i++ }%>
</p>
<!--ol>copied from word.ejs FIX FIRST
    <form class="form-horizontal" role="form" style="width: 50%;" action="http://localhost:8080/user2" method="post">
        <input hidden id="theUser" name="theUser" value="</%= username %/>">
        <input hidden id="posts" name="posts" value = "</%= posts %/>">
        </% var i = 0; %/>

        </%while (i < posts.length) { %/>
        <li>
            User: </%= posts[i].users_user_id %/><br>
            Definition: </%= posts[i].definition %/><br>

            Points: </%= posts[i].points %/>
            <div class="form-group">
                <input hidden id="thePost" name="thePost" value="</%= posts[i].definition %/>">
                <input hidden id="points" name="points" value="</%= posts[i].points %/>">
                <input id="vote</%= i %/>" name="vote</%= i %/>" type="submit" value="+" class="btn btn-primary">
                <input id="vote</%= i %/>" name="vote</%= i %/>" type="submit" value="-" class="btn btn-primary">
            </div>
        </li>
        </% i++ }%/>
    </form>
</ol-->
<%if(editcheck){%>
<a href="/useredit">Edit Profile</a>
<%}%>
<hr>

</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>