<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<h2 id="theUser" name="theUser"><%=username2%></h2>
<div><img alt="Profile Image: " src="http://localhost:8080/images/profImage/<%=image%>" class="img-responsive"></div>
<hr>
<h3>Point total: <%=points%></h3>
<h3>Definitions:</h3>
<p>
<% var i = 0; %>
    <%console.log(posts.length);%>
    <%if(posts[i] == undefined){%>
    <%posts.sort(function(a, b){%>
    <%return b.totalPoints - a.totalPoints;%>
    <%});}%>
<%while (i < posts.length) { %>
    <%if(posts[i].definition == undefined){%>
    None. Try clicking on Random Word to get started!
    <%break;}%>
    <b><%=posts[i].word%></b><br>
    Definition: <%= posts[i].definition %><br>
    Points: <%= posts[i].points %><br><br>

<% i++ }%>
</p>
<%if(editcheck){%>
<a href="/useredit">Edit Profile</a>
<a onclick="document.getElementById('delUser').style.display='block'">Delete User</a>
<form action="imageUp.php" method="POST" enctype="multipart/form-data">
    Select an image for your profile (PNG only): <input type="file" id="profImage" accept=".png" name="usr_img" required>
    <input type="submit" value="Upload">
</form>

<%}%>
<hr>
<div id="delUser" class="modal">
    <form class="modal-content animate" action="/deleteUser.php">
        <div class="container">
            <label for="delUser" align="center"><b>Are you sure you want to delete your user?</b></label>
            <button type="submit" >OK</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('delUser').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>