<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<%if(word.includes(".png") || word.includes(".jpg") || word.includes(".jpeg")){%>
<h1>IMAGE:</h1>
<img src="http://localhost:8080/images/postimage/<%=word%>" class="img-responsive">
<%}else{%>
<h1>WORD:</h1>
<%}%>
<h2 id="theWord" name="theWord"><%= word %></h2>
<div>Post your own definition:</div>
<form class="form-horizontal" role="form" style="width: 50%;" action="http://localhost:8080/word" method="post">
    <div class="form-group">
        <input hidden id="theWord" name="theWord" value="<%= word %>">
        <label for="newDef" class="col-sm-2 control-label">Definition:</label>
        <div class="col-sm-12">
            <textarea class="form-control" rows="3" id="newDef" name="newDef"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input id="submit" name="submit" type="submit" value="Post" class="btn btn-primary">
        </div>
    </div>
</form>
<ol>

    <form class="form-horizontal" role="form" style="width: 50%;" action="http://localhost:8080/word2" method="post">
        <input hidden id="theWord" name="theWord" value="<%= word %>">
        <input hidden id="posts" name="posts" value = "<%= posts %>">
        <% var i = 0; %>
        <%posts.sort(function(a, b){%>
        <%return b.points - a.points;%>
        <%});%>
        <%while (i < posts.length) { %>
        <li>
            User: <%= posts[i].username %><img width="35" height="35" allign="left" src="http://localhost:8080/images/profImage/<%=posts[i].profile_img%>" class="img-responsive"><br>
            --<%=posts[i].username%>'s total points: <%=posts[i].userpoints%><br>
            Definition: <%= posts[i].definition %><br>

            Points: <%= posts[i].points %>
            <div class="form-group">
                <input hidden id="thePost" name="thePost" value="<%= posts[i].definition %>">
                <input hidden id="points" name="points" value="<%= posts[i].points %>">
                <input id="vote<%= i %>" name="vote<%= i %>" title="unpressed" type="submit" value="+" class="btn btn-primary" >
                <input id="vote<%= i %>" name="vote<%= i %>" title="unpressed" type="submit" value="-" class="btn btn-primary" >

            </div>

        </li>
        <% i++ }%>
    </form>



</ol>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>